<div class="container mt-5">
    <app-section-header title="Ver Receta" [showActionButton]="false"></app-section-header>

<div class="mt-5" *ngIf="recipe">
    <div class="card shadow-sm">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="recipe.imagePath" alt="Imagen de la receta" class="img-fluid rounded-start h-100 w-100 object-fit-cover">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">{{ recipe.name }}</h2>
                    <p class="text-muted">{{ recipe.description }}</p>
                    
                    <h5 class="mt-4">Ingredientes:</h5>
                    <ul *ngFor="let ing of recipe.ingredients" class="list-group list-group-flush">
                        <li class="list-group item">{{ ing.name }} - {{ ing.amount }}</li>
                    </ul>

                    <div class="mt-4 d-flex gap-2">
                        <button class="btn btn-outline-primary" (click)="onEdit()">Editar</button>
                        <button class="btn btn-outline-danger" (click)="onDelete()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
