<div class="container my-4">
    <app-section-header title="Ingredientes" [showActionButton]="false"></app-section-header>

    <table class="table mt-4">
        <thead>
            <tr>
                <th class="scope" (click)="toggleSort('name')" style="cursor: pointer">
                    Nombre
                    <span *ngIf="sortColumn === 'name'">
                        {{ sortDirection === 'asc' ? '▲' : '▼' }}
                    </span>
                </th>
                <th class="scope" (click)="toggleSort('amount')" style="cursor: pointer">
                    Cantidad
                    <span *ngIf="sortColumn === 'amount'">
                        {{ sortDirection === 'asc' ? '▲' : '▼' }}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider" *ngFor="let ingredient of ingredients | orderRecipes:sortColumn:sortDirection">
            <tr>
                <td>{{ingredient.name}}</td>
                <td>{{ingredient.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>