<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="card shadow p-4" style="width:100%; max-width: 400px; border-radius: 12px;">
        <app-auth-form
            [authForm]="formSignUp"
            title="Registrate"
            buttonLabel="Registrate"
            [errorMessage]="errorSession ? 'Email o contraseña incorrectos' : ''"
            (submitted)="sendSignup()"
        ></app-auth-form>
        <div class="text-center mt-3">
            <small>¿Ya tenes cuenta? </small><a href="">Inicia sesion</a>
        </div>
    </div>
</div>
